<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kevi Merch Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/home.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/cfg.css" />
    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/loginScripts.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

      <link rel="icon" type="image/png" href="/images/kevilogotransparent.png">
</head>
<body name=<%= hasLoggedIn%> class=<%= admin%>>
    <div id="header">
        <div id="centered-content">
            <img id="logo" src="/images/kevilogo.png" onclick="window.location.href = '/'">
            <div id="button-ribbon" class="removable">

                <button onmouseenter="activateMenuElement(this)" onmouseleave="deactivateMenuElement(this)"onclick="modalWindow('Under arbeid', 'Menyen er under arbeid, og funker derfor ikke akkurat nå')">Dame</button>
                <button onmouseenter="activateMenuElement(this)" onmouseleave="deactivateMenuElement(this)"onclick="modalWindow('Under arbeid', 'Menyen er under arbeid, og funker derfor ikke akkurat nå')">Herre</button>
                <button onmouseenter="activateMenuElement(this)" onmouseleave="deactivateMenuElement(this)" onclick="modalWindow('Under arbeid', 'Menyen er under arbeid, og funker derfor ikke akkurat nå')">Barn</button>
                <button onmouseenter="activateMenuElement(this)" onmouseleave="deactivateMenuElement(this)"onclick="modalWindow('SALG!', 'Barn til salgs!')">Salg</button>
                <button onmouseenter="activateMenuElement(this)" onmouseleave="deactivateMenuElement(this)" onclick="redirect()">Marco</button>
            </div>
        </div>
        
        <div id="right-content" class="removable">
            <div id="login-button" onmouseenter="loginMenu()" onclick="loginMenu()"><i class="material-icons">face</i><span id="loginState"> <%= loginTxt%></span></div>
        </div>
    </div>
    <div id="generic-content">

    <h1 style="text-align: center;"><%= title%></h1>
</div>

<img src="images/williamfisker.jpg" style="width: 100%; position: absolute; top: 163px;margin-left: 50%; transform: translateX(-50%)">

<script>
    window.onload = function() {
        if(document.getElementById("mobile-sise-menu")) {
document.getElementById("mobile-side-menu").style.transform = "translateX(-101%)";

        }



if(document.body.getAttribute("class") == "true" && document.body.getAttribute("name") == "true") {
    activateTools(true);
} else {
    activateTools(false);
}

    }
</script>


<div id="partial-container">

<div id="partial-1">
<%- include notLoggedIn.ejs %>
</div>


<div id="partial-2">
<%- include userLoggedInMenu.ejs %>
</div>


<div id="partial-3">

</div>


</div>

</body>
</html>